*{ font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar {
  padding: 2em;
  justify-content: space-evenly;
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: #b05f6d;
  color: white;
}

.orange {
  background-color: orange; 
  color: white;
}

.yellow {
  background-color: yellow;
  color: white; 
}

.green { 
  background-color: green;
  color: white; 
}

.blue {
  background-color: #275db3;
  color: white;
}

.indigo {
  background-color: indigo;
  color: white; 
}
.violet {
  background-color: purple;
  color: white; 
}

.home {
  background-image: linear-gradient(to bottom, red,orange,yellow,green,blue,indigo,violet);
  color: white;
  position: relative;  
}

.navbar {
  display: flex; 
  justify-content: space-around;
  position: relative; 
}

.nav {
  padding: 10px; 
  margin: 5px; 
  border: 2px outset lightgray;
  text-decoration: none; 
}

.footerbar {
  display: flex; 
  justify-content: center;
  position: sticky; 
  background: lightgray;
  padding: 5px;
  bottom: 0;
}

.footer {
  margin: 2px;
  background-color: lightgray;
  background-image: none;

}
